# Dependencias locales (se instalan en el contenedor)
node_modules/

# Build output (esto lo genera el contenedor)
dist/
build/

# Archivos del editor
.vscode/
.idea/

# Archivos temporales o de sistema
*.log
*.env
*.md
*.DS_Store
Thumbs.db
npm-debug.log
